* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
    overflow: hidden;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    padding: 10px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(168, 193, 251);
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
a:hover{
    box-shadow: inset 210px 0 0 0 #54b3d6;
    color: white;
} 
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 60px;
    color: #222;
}
.content p{
    margin: 20px 0 100px;
    font-size: 25px;
}
.content img{
    width: 630px;
    position: absolute;
    top: 60px;
    right: 5%;
}
.form{
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #b2d5e1;
    width: 500px;
    position: absolute;
    top: 150px;
    right: 5%;
}
.form input{
    padding: 15px;
    margin: 10px 0;
    outline: none;
    border-radius: 5px;
    width: 400px;
    border: none;
}
.form select{
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding: 5px 15px;
    color: #7c7c7c;
}
.form select:focus{
    outline: none;
}

.sub{
    background-color: rgb(84, 252, 101);
    color: #fff;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 0;
}
.download{
    background-color: rgb(44, 38, 38);
    color: #fff;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px 0;
}
.sub:hover{
    background-color: rgb(108, 234, 121);
    cursor: pointer;
}
.download:hover{
    background-color: rgb(63, 61, 61);
    cursor: pointer;
}
h2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #222;
}
.power{
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.power ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;    
}
#i img{
    margin: 5px 15px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
}
#m img{
    margin: 5px 7px;
    width: 45px;
    height: 45px;
    border-radius: 15px;
}
.power ul li p{
    font-size: 15px;
    color: #222;
}